#Globals
*.cproject
*.mxproject
*.project
*.launch
*.ld
*.zip


#TEMPLATE:
*/.settings/
*/Debug/
*/Drivers/
*/Middlewares/

*/Core/Inc/
*/Core/Startup/

*/Core/Src/stm32f4xx_hal_msp.c
*/Core/Src/stm32f4xx_it.c
*/Core/Src/syscalls.c
*/Core/Src/sysmem.c
*/Core/Src/system_stm32f4xx.c

*/USB_DEVICE/Target/

*/USB_DEVICE/App/usb_device.c
*/USB_DEVICE/App/usb_device.h
*/USB_DEVICE/App/usbd_cdc_if.h
*/USB_DEVICE/App/usbd_desc.c
*/USB_DEVICE/App/usbd_desc.h

#Chip
F103/
F401/
workspace_1.15.1/

#Workspace
F411/Basics/.metadata/
F411/Communications/.metadata/
F411/Motor drivers/.metadata/
F411/Remixes/.metadata/

#Blink_LED
F411/Basics/Blink_LED/.settings/
F411/Basics/Blink_LED/Debug/
F411/Basics/Blink_LED/Drivers/
F411/Basics/Blink_LED/Middlewares/

F411/Basics/Blink_LED/Core/Inc/
F411/Basics/Blink_LED/Core/Startup/

F411/Basics/Blink_LED/Core/Src/stm32f4xx_hal_msp.c
F411/Basics/Blink_LED/Core/Src/stm32f4xx_it.c
F411/Basics/Blink_LED/Core/Src/syscalls.c
F411/Basics/Blink_LED/Core/Src/sysmem.c
F411/Basics/Blink_LED/Core/Src/system_stm32f4xx.c

#USBD_Virtual_COM
F411/Communications/USBD_Virtual_COM/.settings/
F411/Communications/USBD_Virtual_COM/Debug/
F411/Communications/USBD_Virtual_COM/Drivers/
F411/Communications/USBD_Virtual_COM/Middlewares/

F411/Communications/USBD_Virtual_COM/Core/Inc/
F411/Communications/USBD_Virtual_COM/Core/Startup/

F411/Communications/USBD_Virtual_COM/Core/Src/stm32f4xx_hal_msp.c
F411/Communications/USBD_Virtual_COM/Core/Src/stm32f4xx_it.c
F411/Communications/USBD_Virtual_COM/Core/Src/syscalls.c
F411/Communications/USBD_Virtual_COM/Core/Src/sysmem.c
F411/Communications/USBD_Virtual_COM/Core/Src/system_stm32f4xx.c

F411/Communications/USBD_Virtual_COM/USB_DEVICE/Target/

F411/Communications/USBD_Virtual_COM/USB_DEVICE/App/usb_device.c
F411/Communications/USBD_Virtual_COM/USB_DEVICE/App/usb_device.h
F411/Communications/USBD_Virtual_COM/USB_DEVICE/App/usbd_cdc_if.h
F411/Communications/USBD_Virtual_COM/USB_DEVICE/App/usbd_desc.c
F411/Communications/USBD_Virtual_COM/USB_DEVICE/App/usbd_desc.h

#MDD10A
F411/Motor drivers/MDD10A/.settings/
F411/Motor drivers/MDD10A/Debug/
F411/Motor drivers/MDD10A/Drivers/
F411/Motor drivers/MDD10A/Middlewares/

F411/Motor drivers/MDD10A/Core/Inc/
F411/Motor drivers/MDD10A/Core/Startup/

F411/Motor drivers/MDD10A/Core/Src/stm32f4xx_hal_msp.c
F411/Motor drivers/MDD10A/Core/Src/stm32f4xx_it.c
F411/Motor drivers/MDD10A/Core/Src/syscalls.c
F411/Motor drivers/MDD10A/Core/Src/sysmem.c
F411/Motor drivers/MDD10A/Core/Src/system_stm32f4xx.c

F411/Motor drivers/MDD10A/USB_DEVICE/Target/

F411/Motor drivers/MDD10A/USB_DEVICE/App/usb_device.c
F411/Motor drivers/MDD10A/USB_DEVICE/App/usb_device.h
F411/Motor drivers/MDD10A/USB_DEVICE/App/usbd_cdc_if.h
F411/Motor drivers/MDD10A/USB_DEVICE/App/usbd_desc.c
F411/Motor drivers/MDD10A/USB_DEVICE/App/usbd_desc.h

#R2_Left
F411/Remixes/R2_Left/.settings/
F411/Remixes/R2_Left/Debug/
F411/Remixes/R2_Left/Drivers/
F411/Remixes/R2_Left/Middlewares/

F411/Remixes/R2_Left/Core/Inc/
F411/Remixes/R2_Left/Core/Startup/

F411/Remixes/R2_Left/Core/Src/stm32f4xx_hal_msp.c
F411/Remixes/R2_Left/Core/Src/stm32f4xx_it.c
F411/Remixes/R2_Left/Core/Src/syscalls.c
F411/Remixes/R2_Left/Core/Src/sysmem.c
F411/Remixes/R2_Left/Core/Src/system_stm32f4xx.c

F411/Remixes/R2_Left/USB_DEVICE/Target/

F411/Remixes/R2_Left/USB_DEVICE/App/usb_device.c
F411/Remixes/R2_Left/USB_DEVICE/App/usb_device.h
F411/Remixes/R2_Left/USB_DEVICE/App/usbd_cdc_if.h
F411/Remixes/R2_Left/USB_DEVICE/App/usbd_desc.c
F411/Remixes/R2_Left/USB_DEVICE/App/usbd_desc.h

#R2_PID_RPM
F411/Remixes/R2_PID_RPM/.settings/
F411/Remixes/R2_PID_RPM/Debug/
F411/Remixes/R2_PID_RPM/Drivers/
F411/Remixes/R2_PID_RPM/Middlewares/

F411/Remixes/R2_PID_RPM/Core/Inc/
F411/Remixes/R2_PID_RPM/Core/Startup/

F411/Remixes/R2_PID_RPM/Core/Src/stm32f4xx_hal_msp.c
F411/Remixes/R2_PID_RPM/Core/Src/stm32f4xx_it.c
F411/Remixes/R2_PID_RPM/Core/Src/syscalls.c
F411/Remixes/R2_PID_RPM/Core/Src/sysmem.c
F411/Remixes/R2_PID_RPM/Core/Src/system_stm32f4xx.c

F411/Remixes/R2_PID_RPM/USB_DEVICE/Target/

F411/Remixes/R2_PID_RPM/USB_DEVICE/App/usb_device.c
F411/Remixes/R2_PID_RPM/USB_DEVICE/App/usb_device.h
F411/Remixes/R2_PID_RPM/USB_DEVICE/App/usbd_cdc_if.h
F411/Remixes/R2_PID_RPM/USB_DEVICE/App/usbd_desc.c
F411/Remixes/R2_PID_RPM/USB_DEVICE/App/usbd_desc.h

#R2_PWM
F411/Remixes/R2_PWM/.settings/
F411/Remixes/R2_PWM/Debug/
F411/Remixes/R2_PWM/Drivers/
F411/Remixes/R2_PWM/Middlewares/

F411/Remixes/R2_PWM/Core/Inc/
F411/Remixes/R2_PWM/Core/Startup/

F411/Remixes/R2_PWM/Core/Src/stm32f4xx_hal_msp.c
F411/Remixes/R2_PWM/Core/Src/stm32f4xx_it.c
F411/Remixes/R2_PWM/Core/Src/syscalls.c
F411/Remixes/R2_PWM/Core/Src/sysmem.c
F411/Remixes/R2_PWM/Core/Src/system_stm32f4xx.c

F411/Remixes/R2_PWM/USB_DEVICE/Target/

F411/Remixes/R2_PWM/USB_DEVICE/App/usb_device.c
F411/Remixes/R2_PWM/USB_DEVICE/App/usb_device.h
F411/Remixes/R2_PWM/USB_DEVICE/App/usbd_cdc_if.h
F411/Remixes/R2_PWM/USB_DEVICE/App/usbd_desc.c
F411/Remixes/R2_PWM/USB_DEVICE/App/usbd_desc.h

#R2_Top
F411/Remixes/R2_Top/.settings/
F411/Remixes/R2_Top/Debug/
F411/Remixes/R2_Top/Drivers/
F411/Remixes/R2_Top/Middlewares/

F411/Remixes/R2_Top/Core/Inc/
F411/Remixes/R2_Top/Core/Startup/

F411/Remixes/R2_Top/Core/Src/stm32f4xx_hal_msp.c
F411/Remixes/R2_Top/Core/Src/stm32f4xx_it.c
F411/Remixes/R2_Top/Core/Src/syscalls.c
F411/Remixes/R2_Top/Core/Src/sysmem.c
F411/Remixes/R2_Top/Core/Src/system_stm32f4xx.c

F411/Remixes/R2_Top/USB_DEVICE/Target/

F411/Remixes/R2_Top/USB_DEVICE/App/usb_device.c
F411/Remixes/R2_Top/USB_DEVICE/App/usb_device.h
F411/Remixes/R2_Top/USB_DEVICE/App/usbd_cdc_if.h
F411/Remixes/R2_Top/USB_DEVICE/App/usbd_desc.c
F411/Remixes/R2_Top/USB_DEVICE/App/usbd_desc.h

#MISC
F411/.metadata/